@reference '@repo/ui/styles/editor';

.editor-popover--inline {
  @apply relative;

  --height: 38px;
  --height-mobile: 46px;
  --container-padding: 4px;

  .editor-popover__custom-content {
    @apply mb-0;
  }

  .editor-popover__items {
    @apply flex;
  }

  .editor-popover__container {
    @apply top-0 left-0 h-(--height) w-max min-w-max animate-none flex-row p-(--container-padding);

    @variant not-desktop {
      @apply absolute h-(--height-mobile);
    }
  }

  .editor-popover-item-separator {
    @apply px-1;

    &__line {
      @apply h-full w-px;
    }
  }

  .editor-popover-item {
    @apply rounded-sm p-1;

    &__icon--tool {
      @apply mr-0 bg-transparent shadow-none;
    }

    &__icon {
      width: unset;
      height: unset;

      svg {
        @apply size-5;

        @variant not-desktop {
          @apply size-7;
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: unset;
    }
  }

  .editor-popover-item-html {
    @apply flex items-center;
  }

  .editor-popover-item__icon--chevron-right {
    transform: rotate(90deg);
  }

  .editor-popover--nested-level-1 {
    .editor-popover__container {
      @apply left-0;

      --offset: 3px;

      top: calc(var(--height) + var(--offset));

      @variant not-desktop {
        top: calc(var(--height-mobile) + var(--offset));
      }
    }
  }

  .editor-popover--nested {
    .editor-popover__container {
      @apply p-1;

      min-width: var(--width);
      width: var(--width);
      height: fit-content;
      flex-direction: column;
    }

    .editor-popover__items {
      @apply block w-full;
    }

    .editor-popover-item {
      @apply not-desktop:p-1 rounded-sm p-1;

      &__icon--tool {
        @apply mr-1;
      }

      &__icon {
        @apply size-6;
      }
    }

    .editor-popover-item-separator {
      @apply p-1;

      &__line {
        @apply h-px w-full;
      }
    }
  }
}
