@reference '@repo/ui/styles/editor';

@utility popover-animation {
  @apply animate-in slide-in-from-top-2 zoom-in-95 fade-in;
}

@utility mobile-popover-animation {
  @apply animate-in slide-in-from-bottom-4 zoom-in-95 fade-in;
}

@utility active-popover-item {
  @apply bg-accent hover:bg-accent/75!;
}

.editor-popover {
  --width: 200px;
  --offset-from-target: 8px;
  --popover-top: calc(100% + var(--offset-from-target));
  --popover-left: 0;
  --nested-popover-overlap: 4px;
  --icon-size: 20px;
  --item-padding: 3px;
  --item-height: calc(var(--icon-size) + 2 * var(--item-padding));

  &__container {
    @apply bg-surface pointer-events-none absolute top-(--popover-top) left-(--popover-left) z-4 flex max-h-64 w-50 flex-col overflow-hidden rounded-md p-0 opacity-0 shadow-md;
  }

  &--opened {
    & > .editor-popover__container {
      @apply border-border popover-animation not-desktop:mobile-popover-animation pointer-events-auto max-h-64 border p-1 opacity-100;
    }
  }

  &--open-top {
    .editor-popover__container {
      --popover-top: calc(
        -1 * (var(--offset-from-target) + var(--popover-height))
      );
    }
  }

  &--open-left {
    .editor-popover__container {
      --popover-left: calc(-1 * var(--width) + 100%);
    }
  }

  &__items {
    @apply overflow-y-auto overscroll-contain;
  }

  &__overlay {
    @variant not-desktop {
      @apply bg-background visible fixed inset-0 z-3 opacity-60 transition-opacity duration-150 ease-in will-change-[opacity];
    }

    &--hidden {
      @apply hidden;
    }
  }

  @variant not-desktop {
    .editor-popover__container {
      @apply fixed top-auto max-w-none rounded-md;

      --offset: 6px;

      min-width: calc(100% - var(--offset) * 2);
      left: var(--offset);
      right: var(--offset);
      bottom: calc(var(--offset) + env(safe-area-inset-bottom));
    }
  }

  &__search {
    @apply mb-1;
  }

  &__nothing-found-message {
    @apply text-muted-foreground hidden overflow-hidden px-1 py-2 text-center text-sm font-normal overflow-ellipsis whitespace-nowrap select-none;

    &--displayed {
      @apply block;
    }
  }

  &--nested {
    .editor-popover__container {
      @apply absolute;

      --popover-left: calc(
        var(--nesting-level) * (var(--width) - var(--nested-popover-overlap))
      );

      top: calc(var(--trigger-item-top) - var(--nested-popover-overlap));
    }
  }

  &--open-top.editor-popover--nested {
    .editor-popover__container {
      top: calc(
        var(--trigger-item-top) - var(--popover-height) + var(--item-height) +
          var(--offset-from-target) + var(--nested-popover-overlap)
      );
    }
  }

  &--open-left {
    .editor-popover--nested {
      .editor-popover__container {
        --popover-left: calc(
          -1 * (var(--nesting-level) + 1) * var(--width) + 100%
        );
      }
    }
  }
}

.editor-popover-item-separator {
  @apply p-1;

  &--hidden {
    @apply hidden;
  }

  &__line {
    @apply bg-border h-px w-full;
  }
}

.editor-popover-item-html {
  &--hidden {
    @apply hidden;
  }
}

.editor-popover-item {
  @apply text-surface-foreground not-desktop:px-1 flex cursor-pointer items-center rounded-sm bg-transparent px-0.5 py-1 select-none;

  &:not(:last-of-type) {
    @apply mb-px;
  }

  &:not(.editor-popover-item--no-hover) {
    @apply hover:bg-accent;
  }

  &__icon {
    @apply flex size-6 items-center justify-center;

    svg {
      @apply size-5;
    }

    @variant not-desktop {
      @apply size-9;

      svg {
        @apply size-7;
      }
    }
  }

  &__icon--tool {
    @apply mr-1;
  }

  &__title {
    @apply not-desktop:text-base mr-auto overflow-hidden text-sm font-normal overflow-ellipsis whitespace-nowrap;
  }

  &__secondary-title {
    @apply not-desktop:hidden text-muted-foreground pr-1 text-xs whitespace-nowrap opacity-60;
  }

  &--active {
    @apply active-popover-item;
  }

  &--disabled {
    @apply pointer-events-none cursor-default opacity-50;
  }

  &--focused {
    &:not(.editor-popover-item--no-focus) {
      @apply active-popover-item;
    }
  }

  &--hidden {
    @apply hidden;
  }

  &--confirmation {
    @apply bg-destructive;

    .editor-popover-item__title,
    .editor-popover-item__icon {
      @apply text-destructive-foreground;
    }

    &:not(.editor-popover-item--no-hover) {
      @apply hover:bg-destructive!;
    }

    &:not(.editor-popover-item--no-focus) {
      &.editor-popover-item--focused {
        @apply hover:bg-destructive!;
      }
    }
  }
}

.editor-popover-header {
  @apply mt-1 mb-2 flex items-center;

  &__text {
    @apply text-lg font-semibold;
  }

  &__back-button {
    @apply size-9 bg-transparent text-current;

    svg {
      @apply block size-7;
    }
  }
}

.wobble {
  animation-name: wobble;
  animation-duration: 400ms;
}
