.ce-popover {
  --border-radius: 6px;
  --width: 200px;
  --max-height: 270px;
  --padding: 6px;
  --offset-from-target: 8px;
  --color-border: #eff0f1;
  --color-shadow: rgba(13, 20, 33, 0.1);
  --color-background: white;
  --color-text-primary: black;
  --color-text-secondary: #707684;
  --color-border-icon: rgb(201 201 204 / 48%);
  --color-border-icon-disabled: #eff0f1;
  --color-text-icon-active: #388ae5;
  --color-background-icon-active: rgba(56, 138, 229, 0.1);
  --color-background-item-focus: rgba(34, 186, 255, 0.08);
  --color-shadow-item-focus: rgba(7, 161, 227, 0.08);
  --color-background-item-hover: #f8f8f8;
  --color-background-item-confirm: #e24a4a;
  --color-background-item-confirm-hover: #ce4343;
  --popover-top: calc(100% + var(--offset-from-target));
  --popover-left: 0;
  --nested-popover-overlap: 4px;

  --icon-size: 20px;
  --item-padding: 3px;
  --item-height: calc(var(--icon-size) + 2 * var(--item-padding));

  &__container {
    @apply pointer-events-none absolute z-4 flex flex-col overflow-hidden rounded-xl bg-white p-0 opacity-0 shadow-sm dark:bg-zinc-900;

    min-width: var(--width);
    width: var(--width);
    max-height: var(--max-height);
    left: var(--popover-left);
    top: var(--popover-top);
  }

  &--opened {
    & > .ce-popover__container {
      @apply pointer-events-auto border border-zinc-200 p-1 opacity-100 dark:border-zinc-700;

      max-height: var(--max-height);
      animation: panelShowing 100ms ease;

      @variant mobile {
        animation: panelShowingMobile 250ms ease;
      }
    }
  }

  &--open-top {
    .ce-popover__container {
      --popover-top: calc(
        -1 * (var(--offset-from-target) + var(--popover-height))
      );
    }
  }

  &--open-left {
    .ce-popover__container {
      --popover-left: calc(-1 * var(--width) + 100%);
    }
  }

  &__items {
    @apply overflow-y-auto overscroll-contain;
  }

  &__overlay {
    @variant mobile {
      @apply fixed inset-0 z-3 bg-zinc-900 opacity-50;

      transition: opacity 0.12s ease-in;
      will-change: opacity;
      visibility: visible;
    }

    &--hidden {
      @apply hidden;
    }
  }

  @variant mobile {
    .ce-popover__container {
      --offset: 5px;

      @apply fixed top-auto max-w-none rounded-xl;

      min-width: calc(100% - var(--offset) * 2);
      left: var(--offset);
      right: var(--offset);
      bottom: calc(var(--offset) + env(safe-area-inset-bottom));
    }
  }

  &__search {
    @apply mb-1;
  }

  &__nothing-found-message {
    @apply hidden overflow-hidden px-1 py-2 text-center text-sm font-medium overflow-ellipsis whitespace-nowrap text-zinc-900 select-none dark:text-zinc-300;

    &--displayed {
      @apply block;
    }
  }

  &--nested {
    .ce-popover__container {
      --popover-left: calc(
        var(--nesting-level) * (var(--width) - var(--nested-popover-overlap))
      );
      top: calc(var(--trigger-item-top) - var(--nested-popover-overlap));
      position: absolute;
    }
  }

  &--open-top.ce-popover--nested {
    .ce-popover__container {
      top: calc(
        var(--trigger-item-top) - var(--popover-height) + var(--item-height) +
          var(--offset-from-target) + var(--nested-popover-overlap)
      );
    }
  }

  &--open-left {
    .ce-popover--nested {
      .ce-popover__container {
        --popover-left: calc(
          -1 * (var(--nesting-level) + 1) * var(--width) + 100%
        );
      }
    }
  }
}

.ce-popover-item-separator {
  @apply p-1;

  &--hidden {
    @apply hidden;
  }

  &__line {
    @apply h-px w-full bg-zinc-200 dark:bg-zinc-700;
  }
}

.ce-popover-item-html {
  &--hidden {
    @apply hidden;
  }
}

.ce-popover-item {
  @apply flex cursor-pointer items-center rounded-lg bg-transparent px-0.5 py-1 text-zinc-900 select-none dark:text-zinc-300;

  @variant mobile {
    @apply px-1;
  }

  &:not(:last-of-type) {
    @apply mb-px;
  }

  &:not(.ce-popover-item--no-hover) {
    @apply hover:bg-zinc-100 dark:hover:bg-zinc-800/75;
  }

  &__icon {
    @apply flex size-6 items-center justify-center;

    svg {
      @apply size-5;
    }

    @variant mobile {
      @apply size-9 rounded-lg;

      svg {
        @apply size-7;
      }
    }
  }

  &__icon--tool {
    @apply mr-1;
  }

  &__title {
    @apply mr-auto overflow-hidden text-sm font-medium overflow-ellipsis whitespace-nowrap;

    @variant mobile {
      @apply text-base;
    }
  }

  &__secondary-title {
    @apply pr-1 text-xs whitespace-nowrap text-(--color-text-secondary) opacity-60;

    @variant mobile {
      @apply hidden;
    }
  }

  &--active {
    @apply bg-zinc-100! hover:bg-zinc-100/80! dark:bg-zinc-800! dark:hover:bg-zinc-800/80!;
  }

  &--disabled {
    @apply pointer-events-none cursor-default opacity-50;
  }

  &--focused {
    &:not(.ce-popover-item--no-focus) {
      @apply bg-zinc-100! hover:bg-zinc-100/80! dark:bg-zinc-800! dark:hover:bg-zinc-800/80!;
    }
  }

  &--hidden {
    @apply hidden;
  }

  &--confirmation {
    @apply bg-[#e24a4a];

    .ce-popover-item__title,
    .ce-popover-item__icon {
      @apply text-white;
    }

    &:not(.ce-popover-item--no-hover) {
      @apply hover:bg-[#ce4343]!;
    }

    &:not(.ce-popover-item--no-focus) {
      &.ce-popover-item--focused {
        @apply hover:bg-[#ce4343]!;
      }
    }
  }
}

@keyframes panelShowing {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.9);
  }

  70% {
    opacity: 1;
    transform: translateY(2px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes panelShowingMobile {
  from {
    opacity: 0;
    transform: translateY(14px) scale(0.98);
  }

  70% {
    opacity: 1;
    transform: translateY(-4px);
  }

  to {
    transform: translateY(0);
  }
}

.wobble {
  animation-name: wobble;
  animation-duration: 400ms;
}

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }

  15% {
    transform: translate3d(-9%, 0, 0);
  }

  30% {
    transform: translate3d(9%, 0, 0);
  }

  45% {
    transform: translate3d(-4%, 0, 0);
  }

  60% {
    transform: translate3d(4%, 0, 0);
  }

  75% {
    transform: translate3d(-1%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.ce-popover-header {
  @apply mt-1 mb-2 flex items-center;

  &__text {
    @apply text-lg font-bold;
  }

  &__back-button {
    @apply size-9 bg-transparent text-current;

    svg {
      @apply block size-7;
    }
  }
}
