:root {
  --bg-light: #eff2f5;
  --color-active-icon: #388ae5;
  --color-gray-border: rgba(201, 201, 204, 0.48);
  --toolbox-buttons-size: 26px;
  --toolbox-buttons-size--mobile: 36px;
  --icon-size: 20px;
  --icon-size--mobile: 28px;
}
