.cdx-list-start-with-field {
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 0.75rem;
  padding: 0.25rem 0.5rem;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;

  &--invalid {
    border: 1px solid var(--destructive);
  }

  &--invalid &__input {
    color: var(--destructive);
  }

  &__input {
    font-size: 0.875rem;
    outline: none;
    font-family: inherit;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    min-width: calc(
      100% - var(--toolbox-buttons-size) - var(--icon-margin-right)
    );

    &::placeholder {
      color: inherit;
      opacity: 50%;
    }
  }
}
