@import './theme.css';

.o-align-left {
  @apply text-left;
}

.o-align-center {
  @apply text-center;
}

.o-align-right {
  @apply text-right;
}

.o-align-justify {
  @apply text-justify;
}

@utility a {
  @apply text-foreground cursor-pointer underline;
}

@utility b {
  @apply font-bold;
}

@utility i {
  @apply italic;
}

@utility o-block {
  @apply first:mt-0 last:mb-0;

  a {
    @apply a;
  }

  b {
    @apply b;
  }

  i {
    @apply i;
  }
}

@utility paragraph {
  @apply text-muted-foreground text-base font-normal;
}

@utility paragraph-margin {
  @apply my-2;
}

@utility o-paragraph {
  @apply paragraph paragraph-margin o-block break-words;
}

@utility header {
  @apply text-foreground;
}

@utility header-h1 {
  @apply text-2xl font-semibold lg:text-3xl;
}

@utility header-h1-margin {
  @apply mt-5 mb-3 lg:mt-6 lg:mb-4;
}

@utility header-h2 {
  @apply text-xl font-semibold lg:text-2xl;
}

@utility header-h2-margin {
  @apply mt-5 mb-3 lg:mt-6 lg:mb-4;
}

@utility header-h3 {
  @apply text-lg font-semibold lg:text-xl;
}

@utility header-h3-margin {
  @apply mt-4 mb-3 lg:mt-5;
}

@utility header-other {
  @apply text-base font-semibold;
}

@utility header-other-margin {
  @apply mt-3 mb-2 lg:mt-4;
}

@utility o-header {
  @apply header o-block break-words;

  &:is(h1) {
    @apply header-h1 header-h1-margin;
  }

  &:is(h2) {
    @apply header-h2 header-h2-margin;
  }

  &:is(h3) {
    @apply header-h3 header-h3-margin;
  }

  &:is(h4, h5, h6) {
    @apply header-other header-other-margin;
  }
}

@utility image {
  @apply h-auto w-full;
}

@utility image-margin {
  @apply my-4;
}

@utility image-with-border {
  @apply border-border border;
}

@utility image-with-background {
  @apply bg-accent px-24 py-8;
}

@utility image-rounded-corners {
  @apply rounded-md;
}

@utility o-image {
  @apply image image-margin o-block;

  &:where(.with-border) {
    @apply image-with-border;
  }

  &:where(.with-background) {
    @apply image-with-background;
  }

  &:where(.rounded-corners) {
    @apply image-rounded-corners;
  }
}

@utility delimiter {
  @apply text-muted-foreground;

  line-height: 1.6em;
  width: 100%;
  text-align: center;

  &:before {
    display: inline-block;
    content: '***';
    font-size: 30px;
    line-height: 65px;
    height: 30px;
    letter-spacing: 0.2em;
  }
}
