@import 'tailwindcss';

@source "../components/";

@custom-variant dark (&:is(.dark *));
@custom-variant not-mobile (@media (width >= 50rem));
@custom-variant mobile (@media (width < 50rem));

@utility wrapper {
  @apply mx-auto max-w-[50rem] px-4;
}

@utility editor-wrapper {
  @variant not-mobile {
    @apply mx-auto max-w-[40rem];
  }
}

@utility hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --scrollbar: oklch(0.92 0.004 286.32);
}

.dark {
  --scrollbar: oklch(0.274 0.006 286.033);
}

@theme {
  --font-*: initial;
  --font-sans: 'Gilroy', ui-sans-serif, system-ui, sans-serif;

  --color-scrollbar: var(--scrollbar);
}

@layer base {
  html {
    font-size: 16px;
    font-weight: medium;
    font-style: normal;
    scroll-behavior: smooth;
  }

  body {
    position: relative;
    overscroll-behavior: none;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  input[type='password']::-ms-reveal,
  input[type='password']::-ms-clear {
    visibility: hidden;
    display: none;
    pointer-events: none;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 50%;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
  }
}
