@import 'tailwindcss';

@source "../components/";

@custom-variant dark (&:is(.dark *));

@layer base {
  html {
    font-size: 16px;
    font-weight: medium;
    font-style: normal;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --font-*: initial;
  --font-sans: 'Gilroy', ui-sans-serif, system-ui, sans-serif;
}
