@import 'tailwindcss';

@source "../components/";

@custom-variant dark (&:is(.dark *));

:root {
  --scrollbar: var(--color-zinc-200);
}

.dark {
  --scrollbar: var(--color-zinc-800);
}

@theme {
  --font-*: initial;
  --font-sans: 'Gilroy', ui-sans-serif, system-ui, sans-serif;

  --color-scrollbar: var(--scrollbar);
}

@layer base {
  html {
    font-size: 16px;
    font-weight: medium;
    font-style: normal;
    scroll-behavior: smooth;
  }

  body {
    overscroll-behavior: none;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 50%;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
  }
}
