.ce-paragraph {
  line-height: 1.6em;
  outline: none;
}

.ce-block:only-of-type .ce-paragraph[data-placeholder-active]:empty::before,
.ce-block:only-of-type
  .ce-paragraph[data-placeholder-active][data-empty='true']::before {
  content: attr(data-placeholder-active);
}

.ce-paragraph p:first-of-type {
  margin-top: 0;
}

.ce-paragraph p:last-of-type {
  margin-bottom: 0;
}
